@model List<UserLeaveAllocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Kullanıcı İzni Tahsisi Listesi
        </small>
    </h1>
</div>

<div style="margin-top: 20px">

    <div class="col-xs-12">
        <table id="user-leave-alloaction-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>İzin Tipi</th>
                    <th>Gün Sayısı</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr name="@item.Id">
                        <td>
                            @item.User.FirstName @item.User.LastName
                        </td>
                        <td>
                            @item.UserLeaveType.Name
                        </td>
                        <td>
                            @item.NumberOfDays
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div><!-- /.span -->
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var dataTable = $('#user-leave-alloaction-table').DataTable({
                language: {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    },
                    "select": {
                        "rows": {
                            "_": "%d kayıt seçildi",
                            "0": "",
                            "1": "1 kayıt seçildi"
                        }
                    }
                }
            });
        });
    </script>

}